@import 'variables';

.chat {
  $header-height: 70px;

  &__header {
    height: $header-height;
    font-weight: 600;
    padding: 20px;
    border: 1px solid $border-color-black;
    background-color: $background-color-grey;
    color: $text-color-grey;
  }

  &__main-wrapper {
    display: flex;
  }

  &__main-section {
    width: 85%;
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__side-section {
    width: 15%;
    height: calc(100vh - #{$header-height});
    padding: 15px;
    border: 1px solid $color-black;
    background-color: $background-color-grey;
  }
}
