// App colors
$color-grey: #9f9fa2;
$color-grey-dark: #343437;
$color-grey-light: #e5e5eb;
$color-white: #fff;
$color-black: #161616;
$color-blue: #3884c5;
$color-green: #83cc8d;
$color-green-dark: #68ac81;

// Backgrounds
$background-color-grey: $color-grey-dark;
$background-color-grey-light: $color-grey-light;
$background-color-blue: $color-blue;
$background-color-white: $color-white;
$background-color-green: $color-green;
$background-color-green-secondary: $color-green-dark;

// Text
$text-color-main: $color-grey-dark;
$text-color-grey: $color-grey;
$text-color-white: $color-white;
$text-color-blue: $color-blue;
$font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;

//Borders
$border-color-black: $color-black;
$border-color-grey: $color-grey;
$border-color-blue: $color-blue;
